#frequently
    .wid
        width: 580px
        margin-bottom: 20px
        h1
            font-size: 35px
            font-weight: 700
            margin: 15px 0
        h3
            color: #a8a8a8
            font-size: 20px
            margin-bottom: 40px
            line-height: 1.4
    .box
        width: 440px
        h2,h4
            font-size: 25px
            margin-left: 10px
        .minibox
            margin-top: 20px
            h2
                margin-left: 10px
        p
            font-size: 20px
            margin: 30px 0 0 30px
            color: #949494 
            line-height: 1.4         
        li
            margin: 30px 0 0
            display: flex   
    .icon
        color: #d4cece
        i
            font-size: 22px
    .bigicon
        i
            font-size: 30px
            color: #a9c1c2
    @media ( max-width: 1200px )
        .box
            width: 365px
    @media ( max-width: 992px )
        .wid
            width: 100%
        .box
            width: 100%
            margin-bottom: 40px
    @media ( max-width: 768px )
        .box
            flex-direction: column  